.login-area{
    border: 1px solid gray;
    width: 450px;
    padding: 100px;
    margin-top: 100px;
}
.login-area h5{
    padding-left: 130px;
}
.auth{
    display: flex;
    width: 380px;
    border-radius: 40px;
    background-color: #fff;
    border: 1px solid #ced4da;
}
.auth img{
    width: 38px;
    height: 38px;
}
.auth span{
    margin-left: 55px;
    font-size: 20px;
}